.latest-color-red {
    width: 15px;
    height: 15px;
    background-color: red;
}

.latest-color-yellow {
    width: 15px;
    height: 15px;
    background-color: yellow;
}

.latest-color-green {
    width: 15px;
    height: 15px;
    background-color: green;
}